$primary-background-color: #e5e5e5;
$secondary-background-color: #e4c1ae;
$background-color: #121212;
$button-text-color: #ffffff;
$button-background-darker: #965532;
$error-message-color: #ff0000;
$icon-color: #000;

$font-stack: "Roboto", sans-serif;

$tablet-width: 767px;
$desktop-width: 1024px;
